.header{
    text-align: center;
    font-family: Helvetica;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}

.chart-hidden{
    display: none;
}
