.header{
    text-align: center;
    font-family: Helvetica;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}

.chart-hidden{
    display: none;
}

.style-full {
    width: 95%;
    height: 100%;
    float: left; 
    padding: 0.5%; 
    max-width: 100%;
    max-height: 100%;
}

.style-half {
    width: 58%;
    height: 100%;
    float: left; 
    padding: 0.5%; 
    max-width: 58%;
    max-height: 100%;
}
