.div-glucose-ibc {
    width: 100%;
    height: 45%;
    /*max-height: 45%;
    min-height: 45%;*/
    background-color: #f4f4f4;
    box-shadow: inset 0 -1px 0 0 #dedfe0;
};

.div-labs-meds {
    width: 100%;
    height: 45%;
    /*max-height: 45%;*/
    margin-top: 3%;
    overflow-y: auto;
}

.div-ibc {
    background-color: rgba(221, 223, 224, 0.35);
    box-shadow: inset 1px 0 0 0 #c8cacb;
    width: 41%; 
    overflow: auto; 
    padding: 0.5%;
}

.inherit {
    width: inherit;
    height: inherit;
}

.div-lab-desktop{
    width: 48%;
}

.div-meds-desktop{
    width: 48%;
}